<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/institute/bootstrap.css' %}">
</head>
<body style="padding: 20px; background-color: #f0f0f0;">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-sm-6">
            <h4 class="text-center alert alert-info">{{heading}}</h4>
            <form action="{% url editurl id %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-success" value="Save">
            </form>
        </div>
    </div>
    <script src="{% static 'javascript/institute/jquery.js' %}"></script>
    <script src="{% static 'javascript/institute/popper.js' %}"></script>
    <script src="{% static 'javascript/institute/bootstrap.js' %}"></script>
</body>
</html>